.active{
    text-decoration: underline;
    color: gray;
}

.category__Main{
    display: flex;
    /* background-color: beige; */
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    /* background-color: red; */

}

@media screen and (max-width:800px){
    .category__Main{
        /* width: 90%; */
    }
}